<!-- <h1>Our Socket.io Application</h1>
<div class="main-conatiner"><button (click)="sendEvent()">Send Messge</button></div> -->

<!-- <div style="width: 100%; height: auto;">
  <h1 class="main-header">Chat App With Socket.io!</h1>
</div>
<div class="chat-Container">
  <div class="chat-log">
      <ul class="messages-container" id="chat">
      </ul>
  </div>
</div>
<div style="width: 100%; height: auto;">
  <form style="margin: 0 auto;text-align: center; width: 100%;">
      <div style="margin: 0 auto; width: 50%;">
          <input id="chat_input" />
          <button type="button" class="send-button">Send</button>
      </div>
  </form>
</div> -->
<div id="Room-list" style="width: 100%; height: auto; margin-top: 4rem;">
  <h1 style="margin: 0 auto; text-align: center;">Open browser inspecter to view the console</h1>
  <h1 style="margin: 0 auto; text-align: center;">Click each button to join the room</h1>
  <ul id="room-ul-list" style="display: flex; flex-direction: row; width: 100%; height: auto; margin-top: 2rem;" *ngFor="let room of rooms">
      <button (click)="joinRoom(room)" id="room">{{room}}</button>
  </ul>
</div>


